* {
    box-sizing: border-box;
}
body {
    background-color:rgba(216, 213, 213, 0.507);
    margin: 0;
}
.flexcontainer {
  display:flex;
  
}
.backgroundimage {
    background-image: url("Background.jpeg");
    min-height: 100vh;
    max-width: 40vh;
    min-width: 40vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo {
    background-color: rgba(0, 0, 0, 0.205);
    min-height: 50px;
    display:flex;
    justify-content: centre;
    align-itenms: centre;

}
.rightcontainer {
  display:flex;
  flex-direction: column;
}
